@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('../public/fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../public/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../public/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../public/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}
